* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-title {
  font-size: 12px;
  font-weight: 600;
  opacity: .6;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 100%;
  display: flex;
  justify-content: center;  
}

.fb-btn {
  width: 100%;
}

.fb-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  padding: 6px;
  background: #0095F6;
  border-radius: 5px;
  color: #ffffff;
}

.or-hr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .3;
}

.left-line {
  width: 100%;
  height: 1px;
  background: #000;
  border-radius: 999px;
}

.right-line {
  width: 100%;
  height: 1px;
  background: #000;
  border-radius: 999px;
}

.or-text {
  font-size: 16px;
  padding: 20px;
  font-weight: 500;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
}

input {
  width: 100%;
  padding: 10px;
  background: #FAFAFA;
  border: 1px solid #00000020;
  border-radius: 3px;
}

input::placeholder {
  font-size: 12px;
  color: #00000060;
}

.forgot {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  font-size: 14px;
}

.forgot-link {
  color: #0095f6;
  text-decoration: none;
}

.btn {
  width: 100%;
  padding-top: 20px;
}

.login-btn {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  padding: 5px;
  background: #0095F6;
  border-radius: 5px;
  color: #ffffff;
}

.sign-up {
  padding-top: 30px;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sign-up-text {
  color: #00000070;
}

.sign-up-link {
  text-decoration: none;
  color: #0095f6;
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.onclick {
  background: #0095F6;
}